*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
#container{
    border: 2px solid;
}

/* ****************styling navBar ****************** */
#navbar{
    background-color: black;
    padding: 20px;
}
li{
  margin: 22px;
    list-style-type: none;
 }
a{color: #808080;
   padding: 10px;
   text-decoration:none;
   border-radius: 10px;
   font-weight: bolder;
   letter-spacing: 1px;
   font-size: 19px;
   }
@media (min-width: 991px){
    .float-right{float: right;}
    .float-left{float: left;}
}
.clear{
    clear:both;
}
#navbar a:hover{background-color: #ffffff}

/* styling background image and content in Background Image  */
#BackgroundImageContainer{
    height: 800px;
}
.backgroundImage{
         height: 100%;
         width: 100%;
    color: #f8f8f8  ;
    background-image: url("/Assignment1/images/intro-bg_1.jpg");
    background-position: center;
    background-size: cover ;
  }
  #BackgroundImageContainer .backgroundImage {
      padding-top: 400px ;
       }
    #BackgroundImageContainer center{
        background-color: rgb(0,0,0,0.7);
        width: 50%;
          margin: auto;
          padding: 40px 0 40px 0;
    }
    #BackgroundImageContainer h1{
       letter-spacing: 2px;
    }
    #BackgroundImageContainer p{
        font-size: 12px;
    }
    #BackgroundImageContainer input{
        padding: 9px;
        background-color: rgb(141, 22, 22);
        color:#ffffff;
        border-color: rgb(141, 22, 22)  ;
        border-right: rgb(141, 22, 22);
        border-bottom: rgb(141, 22, 22);
    }

/* ************Content details ******************* */
#box{
    /* border:2px solid #ff0000; */
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}
p{
    padding-bottom: 12px;
      color: #808080;
    font-weight: bolder;
}
#box>div{
    width: 300px;
    border: 1px solid #808080;
}
img{
    width:100%;
}
/* For Extra small devices  */
@media (max-width:768px){
   
    #box{
        grid-template-columns: auto;
    }
    #box>.gridbox{margin: auto;
           margin-top: 20px;
           width: 100%;
    }
}
/* For Small devices  */
 
@media (min-width:769px) and (max-width:991px){
      #box{
              grid-template-columns: auto auto;
              grid-gap: 2em;
      }
    }
/*  for large devices  */
    @media (min-width:992px) and (max-width:1200px){
        
        #box{grid-gap: 2em;}
    }
/*   decorating Footer  */
  #footer{
      margin-top: 30px;
      padding: 15px;
      background-color: #000000;
      text-align: center;
      color: #808080;
  }